<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.example.demo.mapper.UserMapper">-->
<!--    <resultMap id="BaseResultMap" type="com.example.demo.model.db.UserRecord">-->
<!--        <id column="id" jdbcType="BIGINT" property="id"/>-->
<!--        <result column = "name" jdbcType="VARCHAR" property = "name"/>-->
<!--        <result column = "phone" jdbcType="VARCHAR" property = "phone"/>-->
<!--        <result column = "title" jdbcType="VARCHAR" property = "title"/>-->
<!--        <result column = "transactionPassword" jdbcType="VARCHAR" property = "transaction_password"/>-->
<!--        <result column = "idCardNumber" jdbcType="VARCHAR" property = "id_card_number"/>-->
<!--        <result column = "bankId" jdbcType="VARCHAR" property = "bank_id"/>-->
<!--        <result column = "channelId" jdbcType="VARCHAR" property = "channel_id"/>-->
<!--&lt;!&ndash;        <result column = "status" jdbcType="NaturalPersonStatus.class" property = "status" typeHandler = "EnumOrdinalTypeHandler.class"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <result column = "auditFlowRole" jdbcType="AuditFlowRole.class" property = "audit_flow_role" typeHandler = "EnumOrdinalTypeHandler.class"/>&ndash;&gt;-->
<!--        <result column = "cfcaUserId" jdbcType="VARCHAR" property = "cfca_user_id"/>-->
<!--        <result column = "selfPhone" jdbcType="VARCHAR" property = "self_phone"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--      id,name,phone,title,ransactionPassword,idCardNumber,bankId,channelId,cfcaUserId,selfPhone-->
<!--    </sql>-->

<!--    <select id="getOneByPhone" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
<!--        select * from natural_person where phone = #{phone} and channel_id = #{channelId} limit 1-->
<!--    </select>-->

<!--    <select id="getOneByIdCardNumber" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
<!--        select * from natural_person where phone = #{phone} and channel_id = #{channelId} limit 1-->
<!--    </select>-->

<!--    <select id="getOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
<!--        select * from natural_person where id = #{id} limit 1-->
<!--    </select>-->

<!--    <insert id="getOneById" parameterType="com.example.demo.model.db.UserRecord" >-->
<!--        insert into natural_person (phone, password, salt, audit_flow_role, channel_id) values-->
<!--            (#{phone}, #{password}, #{salt}, #{auditFlowRole}, #{channelId})-->
<!--    </insert>-->

<!--    <insert id="insertAuthorizedPerson" parameterType="com.example.demo.model.db.UserRecord" >-->
<!--        insert into natural_person (name, id_card_number, phone, status, channel_id) values-->
<!--            (#{name}, #{idCardNumber}, #{phone}, #{status}, #{channelId} )-->
<!--    </insert>-->

<!--    <update id="updateBankId" parameterType="com.example.demo.model.db.UserRecord">-->
<!--        update natural_person set bank_id = #{bankId} where id = #{naturalPersonId}-->
<!--    </update>-->

<!--    <update id="updateIdCardInfo" parameterType="com.example.demo.model.db.UserRecord">-->
<!--            update natural_person set name = #{name}, id_card_number = #{idCardNumber}-->
<!--            where id = #{naturalPersonId}-->
<!--    </update>-->

<!--    <update id="updateCFCAUserId" parameterType="com.example.demo.model.db.UserRecord">-->
<!--            update natural_person set cfca_user_id = #{cfcaUserId} where id = #{naturalPersonId}-->
<!--    </update>-->

<!--    <update id="updateLoginPassword" parameterType="com.example.demo.model.db.UserRecord">-->
<!--            update natural_person set password = #{password} where id = #{naturalPersonId}-->
<!--    </update>-->

<!--&lt;!&ndash;    <update id="updateNaturalPersonStatus" parameterType="com.example.demo.model.db.UserRecord">&ndash;&gt;-->
<!--&lt;!&ndash;            update natural_person set status = #{status} where id = #{naturalPersonId}&ndash;&gt;-->
<!--&lt;!&ndash;    </update>&ndash;&gt;-->




<!--</mapper>-->